{{define "delivery"}}
<table>
  <thead>
  <tr>
    <th colspan="2" class="blue">Delivery</th>
  </tr>
  </thead>
  <tr>
    <td>Id</td>
    <td>{{ .Id }}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>{{ .Name }}</td>
  </tr>
  <tr>
    <td>Phone</td>
    <td>{{ .Phone }}</td>
  </tr>
  <tr>
    <td>Zip</td>
    <td>{{ .Zip }}</td>
  </tr>
  <tr>
    <td>City</td>
    <td>{{ .City }}</td>
  </tr>
  <tr>
    <td>Address</td>
    <td>{{ .Address }}</td>
  </tr>
  <tr>
    <td>Region</td>
    <td>{{ .Region }}</td>
  </tr>
  <tr>
    <td>Email</td>
    <td>{{ .Email }}</td>
  </tr>
</table>
{{end}}
